<app-header (toggleSidebar)="toggleSidebar($event)"></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport="false"
    [attr.role]="!matchedScreenList.GtSm ? 'dialog' : 'navigation'"
    [mode]="!matchedScreenList.GtSm ? 'over' : 'side'"
    [opened]="toggleSidenav || matchedScreenList.GtSm">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-divider></mat-divider>

<app-footer></app-footer>
