<div class="graph-widget-container">
  <mat-card>Main Graph Card</mat-card>
</div>
<mat-divider></mat-divider>
<div
  class="graph-widget-container"
  fxLayout="row"
  fxLayoutAlign="space-between"
  fxFlexAlign="center"
  fxLayout.lt-sm="column"
  fxLayoutGap="10px">
  <mat-card fxFlex="25">Graph</mat-card>
  <mat-card fxFlex="25">Graph</mat-card>
  <mat-card fxFlex="25">Graph</mat-card>
  <mat-card fxFlex="25">Graph</mat-card>
</div>
<mat-divider></mat-divider>
<div
  class="graph-widget-container"
  fxLayout="row"
  fxLayoutAlign="space-between"
  fxFlexAlign="center"
  fxLayout.lt-sm="column"
  fxLayoutGap="10px">
  <mat-card fxFlex="40">Donut Chart</mat-card>
  <mat-card fxFlex="60">Table</mat-card>
</div>
