<div class="graph-widget-container">
  <mat-card>
    <app-widget-area></app-widget-area>
  </mat-card>
</div>
<mat-divider></mat-divider>
<div
  class="graph-widget-container"
  fxLayout="row"
  fxLayoutAlign="space-between"
  fxFlexAlign="center"
  fxLayout.lt-sm="column"
  fxLayoutGap="1">
  <mat-card fxFlex="24">
    <app-widget-pie></app-widget-pie>
  </mat-card>
  <mat-card fxFlex="24">
    <app-widget-bar></app-widget-bar>
  </mat-card>
  <mat-card fxFlex="24">
    <app-widget-pie></app-widget-pie>
  </mat-card>
  <mat-card fxFlex="24">
    <app-widget-bar></app-widget-bar>
  </mat-card>
</div>
<mat-divider></mat-divider>
<div
  class="graph-widget-container"
  fxLayout="row"
  fxLayoutAlign="space-between"
  fxFlexAlign="center"
  fxLayout.lt-sm="column"
  fxLayoutGap="10px">
  <mat-card fxFlex="40">
    <app-widget-line></app-widget-line>
  </mat-card>
  <mat-card fxFlex="60">
    <app-widget-table></app-widget-table>
  </mat-card>
</div>
